<h1>ONE RESTAURANT</h1>
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.stars %></p>
<h3><%= link_to "chef", chef_name_restaurant_path(@restaurant)%></h3>
<p><%= link_to "laisser un com", new_review_path %></p>
<br>


<% if @restaurant.stars = 5 %>
  <%= link_to "retour", top_restaurants_path %>
<% else %>
  <%= link_to "retour", restaurants_path %>
<% end %>




