<h1>BEST RESTAURANTS</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <%= restaurant.name %>
    <%= link_to "voir", restaurant %>
    <%= link_to "modifier", edit_restaurant_path(restaurant) %>
    <%= link_to "supprimer", restaurant_path(restaurant), method: :delete, data: { confirm: "are you sure?"} %>
  </li>
  <% end %>
</ul>

<%= link_to "Create Restaurant", new_restaurant_path %>
<br>
<%= link_to "retour", restaurants_path %>
